/Semana 2/Practico 3/JavaApplication2/nbproject/private/
/Semana 2/Practico 3/Practico3/nbproject/private/
/Semana 2/Practico 3/Practico3/build/
/Clase 2/Practico 3/Practico3/build/
/Clase 2/Practico 3/Practico3/nbproject/private/
/Clase 4/Practico4/nbproject/private/
/Clase 4/Practico4/build/
/PracticasEnClase/nbproject/private/
/JavaApplication6/nbproject/private/
/Clase 7/EjemploSistemaStockEnClase/EjemploSistemaStock/build/
/Clase 7/EjemploSistemaStockEnClase/EjemploSistemaStock/nbproject/private/
/Obligaotrio2025/Sistema de Eventos Marzo 2025/build/
/Obligaotrio2025/Sistema de Eventos Marzo 2025/nbproject/private/
/Obligaotrio2025/build/
/EjemploSistemaStock/build/
/EjemploSistemaStock/nbproject/private/
/Obligatorio2025/build/
/Obligatorio2025/nbproject/private/
/Sistema de Eventos Marzo 2025/build/
/Sistema de Eventos Marzo 2025/nbproject/private/
/JavaApplication7/nbproject/private/
/Practicos Hechos/Practico 2/build/
/Practicos Hechos/Practico 2/nbproject/private/
/Practicos Hechos/Practico 3/Practico3/build/
/Practicos Hechos/Practico 3/Practico3/nbproject/private/
/Practicos Hechos/Practico 4/build/
/Practicos Hechos/Practico 4/nbproject/private/
/Practicos Hechos/Practico 3/build/
/Practicos Hechos/Practico 3/nbproject/private/
/Practicos Hechos/Practico 5/Practico 5/nbproject/private/
/Obligatorio1 Entrega/Obligatorio2025_11-5_12-06/build/
/Obligatorio1 Entrega/Obligatorio2025_11-5_12-06/nbproject/private/
/Practicos Hechos/Practico 5/Practico 7/nbproject/private/
