*{
    margin: 0px;
    padding: 0px;
}

.tituloH1{
    text-align: center;
    background-color: #82b0e5;
    color: white;
    font-family: "Holtwood One SC", serif;
    font-weight: 80;
    font-style: normal;
}

p{
    padding: 10px 0 10px 0;
}

.divGrande{
    font-family: "Aleo", serif;
    margin: auto;
    background-color: #e5e5e5;
}

.parte1, .parte3{
    max-width: 1200px;
    width: 80%;
    margin: auto;
}

.parte2{
    border-left: 5px solid #82b0e5;
    margin: auto;
    max-width: 1050px;
    padding-left: 20px;
}

i, abbr{
    color:#82b0e5;
    font-style: italic;
}

.tituloH2{
    color:#82b0e5;
    margin: 20px 0 20px 0;
    letter-spacing: .8rem;
}

.lista{
    margin: 0 20px 0 20px;
}

.divOl{
    padding-bottom: 30px;
}