/*  Breakpoint	        Class   infix	Dimensions
    Extra small	        None	<576px
    Small	            sm	    ≥576px
    Medium	            md  	≥768px
    Large	            lg	    ≥992px
    Extra large	        xl	    ≥1200px
    Extra extra large	xxl	    ≥1400px */



* {
    margin: 0;
    padding: 0; 
}

main {
    background-color: tomato;
    padding: 15px;
}

section {
    height: 600px;
}

.modo-landscape{
    display: none;
}

/* Esto sirve para cuando imprimimos algo */
/* @media print {

    section {
        background-color: fuchsia;
    }
    
} */
/* Si lo vemos en un monitor de pc siempre va a ser landscape (mas ancho que alto) */
/* 
@media all and (orientation: landscape) {

    .modo-landscape{
        display: block;
    }
    
} */


@media all and (min-width: 576px)  {
    main {
        background-color: royalblue;
    }
}

@media all and (min-width: 768px) {
    main {
        background-color:turquoise;
        width: 80%;
        margin: 0 auto;
    }
}

@media all and (min-width: 992px) {
    main {
        width: 70%;    
    }
}


