/* no es necesario * margin 0 padding... / no hacer reset */
/* usar este css para SOBREESCRIBIR ASUNTOS DE BOOTSTRAP q necesito q sean diferentes */
@font-face {
    font-family: 'dm_serif_displayregular';
    src: url('../fonts/dmserifdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/dmserifdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'manropeextralight';
    src: url('../fonts/manrope-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/manrope-variablefont_wght-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

:root{
--rosaFucsia: #d90a59;
--verdePiedra: #285873;
--grisCelestón: #c9d3d9;
--blanco: rgb(234,234,234);
--negro: rgb(22,22,22);
}

h1{
    font-family:'dm_serif_displayregular';
    color: var(--rosaFucsia);
    /* min-height: 70vh; */
}

p{
    font-family:'manropeextralight';
}


/*  revisar 

Alturas:
PORTADAalturamínima70vh
NEWSalturamínima70vh

TextosdePortada
text-shadow:010px25pxNegro
Página 2 de 5
Computación - Electrónica - Telecomunicaciones - Sistemas de Información

Bordes:
bordesuperiordelnavenmobile2px
bordecamposdelform1px
*/


#encabezado a{
    font-family: 'dm_serif_displayregular';
    color: var(--rosaFucsia);
    text-shadow: 0 10px 25px black
}

#encabezado a:hover{
    background-color: var(--grisCelestón);
    color: var(--verdePiedra);
    border-color: none;
}

.btn-primary{
    background-color: var(--rosaFucsia);
    border: none;
}

.btn-primary:hover{
    background-color: var(--grisCelestón);
    color: var(--verdePiedra);
    border: none;
}

#banner{
    background: url(../img/hero.png);
    background-size: cover;
    min-height: 70vh;
    color: var(--blanco);
}

#banner h2{
    color: var(--negro);
}

#news{
    background-color: var(--grisCelestón);
}

footer{
    font-size: 12px;
    color: var(--blanco);
}

#footer{
    background-color: var(--verdePiedra);
    min-height: 70vh;
}

footer table.table-dark th,
footer table.table-dark td{
    background-color: var(--verdePiedra);
    color: var(--blanco);
    border-color: var(--blanco);
}

footer input.form-control,
footer input.form-control:focus
{
    background-color: var(--verdePiedra);
}