figure img.img-thumbnail {
	border: 1px solid #f52f41;
}

section{
	border-bottom: 3px solid #f52f41;
}

/*CSS DEFENSA */
h1{
  
    color: #f52f41;
}


.table-bordered td,.table-bordered th {
	border: 3px solid #fddcdf;
}
