/* ----------------------------------- */

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
        url('../fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('../fonts/universltstd-light-webfont.woff2') format('woff2'),
        url('../fonts/universltstd-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------------- */

* {
    font-family: 'Univers';
}

#cabezal {
    background: url(../img/bg.jpg) no-repeat center top fixed;
    background-size: cover;
    padding: 2rem;
}

header img {
    width: 100%;
    max-width: 180px;
}

.btn-dark {
    border-radius: 0;
    font-family: 'Bebas';
    font-size: 1.2rem;
    letter-spacing: 3px;
}


section, footer {
    padding: 3rem 0;
}

h1, h2 {
    font-family: 'Bebas';
    text-transform: uppercase;
}

h1{
    font-size: 4rem;
    text-align: center;
}

h2 {
    padding-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
}

#recomendados img {

    width: 100%;
    border-radius: .5rem;

}

.btn-warning {
    border-radius: 3rem;
}

.principal strong{
    font-family: 'Bebas';
    font-size: 1.5rem;
}


.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

#clasicas{
    background-color: #D7D9D6;
}

#clasicas figure{
}

#clasicas img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer{
    background-color: black;
    color: white;
}

q{
    font-style: italic;
}


form {
    width: 100%;
}

input, label {
    display: block;
    width: 100%;
}

input {
    padding: .5rem;
    border: 1px solid white;
    background-color: transparent;
    border-radius: .25rem;
}

label, input[type=submit] {
    margin-top: 1rem;
}

input[type=submit] {
    width: auto;
    display: inline-block;
}

::placeholder {
    color: white;
}


input:focus{
    outline: 0;
    border-color: transparent;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    background-color: white;
    color: black;
}

td, tr{
    color: white;
}

aside{

    color:#ffc107;
}

@media screen and (min-width: 1200px) {


    .btn-dark:first-child {
        border-radius: 3rem 0 0 3rem;
    }

    .btn-dark:last-child {
        border-radius: 0 3rem 3rem 0;
    }

}