* { 
    margin: 0;
    padding: 0;
}

section {
    background-color: slategrey;
}

.contenedor {
    background-color: tomato;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}

.grilla {
    background-color: thistle;
    display: grid;
}

.grilla article {
    box-sizing: border-box;
    border: 5px solid rgb(171, 146, 171);
    background-color: rgb(220, 151, 220)
}

#grilla-1 {
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px 100px 100px;
}

#grilla-2 {
    grid-template-columns: 100px 100px auto 100px 100px; 
    grid-template-columns: repeat(2, 100px) auto repeat(2, 100px); 
    grid-template-rows: repeat(3, 100px);
}

#grilla-3 {
    grid-template-columns: 1fr 2fr 1fr;  
    grid-template-rows: repeat(3, 100px);
    row-gap: 20px;
    column-gap: 10px;
    gap: 20px 10px;
}

#grilla-2 article:nth-child(1) {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    background-image: url(../img/fondo-1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    color: white;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
}

#grilla-2 article:nth-child(2) {
    background-color: red;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

#grilla-2 article:nth-child(3) {
    background-color: red;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

#grilla-2 article:nth-child(4) {
    background-color: red;
    grid-column: 4 / span 2;
    grid-row: 2 / 3;
    grid-row: 2 / span 1;
}

#grilla-2 article:nth-child(5) {
    background-color: rgba(255,255,0,0.5);
    grid-column: 2 / 6;
    grid-column: 2 / span 4;
    grid-row: 3 / 4; 
}
