@font-face {
    font-family: 'Neutra';
    src: url('../fonts/neutradisplaytitling-webfont.woff2') format('woff2'),
        url('../fonts/neutradisplaytitling-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Ancho para el cambio de fondo de la última sección -----> min-width: 768px */