*{

}


/* a {
    background-color: red;
    display: inline-block;
    height: 100px;
    width: 100%;
    padding: 70px;
} */


#no-mostrar {
    background-color: red;
    /* opacity: 0; */
    display: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td { 
    padding: 10px;
}